@charset "EUC-KR";


.col-xs-4{
	height: 250px;
}


h4, h5{
	font-weight : bold;
}

footer {
	text-align : center;
}

div.mid > p, div.left > p, div.right > p{ 
	color:gray;
}

div.mid{
	border-left : 1px solid #d9d9d9;
	border-right : 1px solid #d9d9d9;
}

div.left{
	border-left : 1px solid #d9d9d9;
}
div.right{
	border-right : 1px solid #d9d9d9;
}

div.line{
	height: 10px;
	background-color : #d9d9d9;
	margin-bottom : 0;
	padding-bottom : 0;
	border-bottom: 1px solid gray;
}